#hero {
    background-image: url('../img/fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Ajusta la altura según tus necesidades */
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero .container {
    z-index: 1; /* Asegura que el contenido esté por encima del fondo */
}

#hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Añade una superposición oscura */
    z-index: 0; /* Asegura que la superposición esté por debajo del contenido */
}


